html,
body,
input,
button,
select,
textarea {
  font: 15px/25px "tradegothicmedium", Helvetica, arial, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.background {
  background: #fff url("images/bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -100;
  top: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin-top: 0px;
}

a {
  color: #E187B8;
  text-decoration: none;
}

a:hover, a:focus {
  color: #7E2054;
}

header {
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

  background: -moz-linear-gradient(top,  rgba(232,232,232,1) 1%, rgba(232,232,232,1) 33%, rgba(232,232,232,0) 99%, rgba(232,232,232,0) 100%); /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(232,232,232,1)), color-stop(33%,rgba(232,232,232,1)), color-stop(99%,rgba(232,232,232,0)), color-stop(100%,rgba(232,232,232,0))); /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top,  rgba(232,232,232,1) 1%,rgba(232,232,232,1) 33%,rgba(232,232,232,0) 99%,rgba(232,232,232,0) 100%); /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top,  rgba(232,232,232,1) 1%,rgba(232,232,232,1) 33%,rgba(232,232,232,0) 99%,rgba(232,232,232,0) 100%); /* Opera 11.10+ */

  background: -ms-linear-gradient(top,  rgba(232,232,232,1) 1%,rgba(232,232,232,1) 33%,rgba(232,232,232,0) 99%,rgba(232,232,232,0) 100%); /* IE10+ */

  background: linear-gradient(to bottom,  rgba(232,232,232,1) 1%,rgba(232,232,232,1) 33%,rgba(232,232,232,0) 99%,rgba(232,232,232,0) 100%); /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#00e8e8e8',GradientType=0 ); /* IE6-8 */

  position: fixed;
  width: 100%;
  height: 300px;
}

img.logo {
  margin: 40px auto 20px auto;
  display: block;
  width: 400px;
  height: auto;  
}

nav#primary {
  position: fixed;
  right: 50px;
  text-align: right;
  margin-top: 200px;
  margin-right: 50px;
  color: #231F20;
  font-family: 'tradegothicbold';
  font-size: 18px;
  line-height: 1.5em;
}

nav#primary ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

nav#primary ul li {
  margin-bottom: 10px;
}

main {
  display: block;
  padding-top: 150px;
}

.section {
min-height: 300px;
}

img.bottle {
margin: 40px auto 20px auto;
display: block;
}


/* clearfix */
.row:before,
.row:after,
.container:before,
.container:after {
  content: " ";
  display: table;
}

.row:after,
.container:after {
  clear: both;
}

.row,
.container {
  *zoom: 1;
}